.num {
  font-family: "Pacifico", cursive;
  color: #db3eb1;
  text-decoration-color: #41b6e6;
  font-size: 40px;
  text-align: center;
}
.speed {
  font-family: "Pacifico", cursive;
  color: #db3eb1;
  text-decoration-color: #41b6e6;
  font-size: 40px;
  text-align: center;
}
